<h1>Greeting from Richard. Learning Spring Boot!</h1>

<p>
  In this chapter, I'm learning how to get started on Spring Boot!
</p>

<ul>
  {{#videos}}
    <li>
      {{name}}
    </li>
  {{/videos}}
</ul>